<div id = "login-again">
</br>
<h4>Login </h4>
<p id="alert"><%= alert %></p>
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username], class: "form-control form-custom" %>
  </div>
  </br>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, class: "form-control form-custom" %>
  </div>
  </br>
  <div class="actions"><%= submit_tag "Log in", class: "btn btn-default grey inline" %></div>
<% end %>
<div>
