</br>
</br>
<h1 class = "font page-head" id = "edit-name"> <%= @recipe.name %> </h1>
</br>
<div class = "plain-font recipe-table">
<%= form_for @recipe do |f| %>
  <div class="field">
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients, :cols => "60", :rows => "10", class: "form-control  " %>
  </div>
  <div class="field">
    <%= f.label :instructions %>
    <%= f.text_area :instructions, :cols => "60", :rows => "10", class: "form-control  " %>
  </div>
  </br>
  <div class="field">
    <%= f.label :cook_method %>
    <%= f.text_field :cook_method, class: "form-control form-custom right" %>
  </div>
  </br>
  <div class="field">
    <%= f.label :cook_temperature %>
    <%= f.text_field :cook_temp, class: "form-control form-custom right"  %>
  </div>
  </br>
  <div class="field">
    <%= f.label :cook_time %>
    <%= f.text_field :cook_time, class: "form-control form-custom right"  %>
  </div>
  </br>
  <div class="field form-group">
  <%= f.label :image %>
  </br>
  <%= f.file_field :image, class: "img-input" %>
  </div>
  <div class="actions right"><%= f.submit class: "btn btn-default grey"%></div>
<% end %>
</div>
