<h1> <%= @recipe.name %> </h1>

<p> Cooking time: <%= @recipe.cook_time %> </p>
<p> Cooking temperature: <%= @recipe.cook_temp %> </p>
<p> Cooking Method: <%= @recipe.cook_method %> </p>

<p> Instructions: <%= @recipe.instructions %> </p>
