</br>
</br>
<div class = "center-top">
<h1 class = "font" id = "my-hats"> My Hats </h1>
<span class = "font bigger"> <%= link_to 'New Hat', new_hat_path %> </span>
</div>
</br>

<div id = "many-hats">
<% @hats.each do |hat| %>
  <div class = "hats">
    <div id = "hat"><%= image_tag 'chef_hat.png' %></div>
    </br>
    <div class = "hat-info">
      <% if current_user == @user %>
        <%= link_to hat.name, hat, class: "font bigger" %>
        </br>
      <% end %>
      <% if hat.user_id == current_user.id %>
         <%= link_to 'Delete Hat', hat, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% else %>
        <%= link_to 'Unfollow Hat', memberships_unfollow_path(:user_id => current_user.id, :hat_id => hat.id), method: "POST", data: { confirm: 'Are you sure?' } %>
      <% end %>
      </br>
    </div>
  </div>
 <% end %>
</div>


