</br>
<h1 class = "font" id = "my-hats"> My Hats </h1>
<%= link_to 'New Hat', new_hat_path %>


<table class = "table table-hover table-responsive plain-font">
<% @hats.each do |hat| %>
  <tr>
    <td> <div id = "hat"> <%= image_tag 'chef_hat.png' %> </div> </td>
    <td><%= hat.name %></td>
    <% if current_user == @user %>
      <td><%= link_to 'View Hat', hat %></td>
      <% if hat.user_id == current_user.id %>
         <td><%= link_to 'Delete Hat', hat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>

    <% end %>
  </tr>
    </br>
<% end %>
</table>
