</br>
</br>
</br>
<div id = "welcome-center">
<h1 id = "welcome" >Welcome to Chef's Hat</h1>
<div id = "welcome-hat"> <%= image_tag 'chef_hat.png' %> </div>
<h4 id = "best-place"> The best place on the web for sharing recipes!</h4>

<div id = "login" class = "plain-font">

<p id="alert"><%= alert %></p>
<div class = "form-group">
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username], class: "form-control form-inline" %>
  </div>
  <div class="field">
    <%= label_tag :password %>
  </br>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>
  </br>
  <div class="actions inline"><%= submit_tag "Log in", class: "btn btn-default grey" %></div>
  <%= link_to 'Sign Up', new_user_path %>
<% end %>
</div>
</div>
</div>
