</br>
</br>
<h1 class = "font page-head">Create a New Chef's Hat!</h1>
</br>
<div class = "plain-font center">
<%= form_for @hat do |f| %>
  <% if @hat.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @hat.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field ">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control form-custom inline" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions inline"><%= f.submit class: "btn btn-default grey inline"%><% end %></div>
  </div>
  </br>
</div>
