</br>
</br>
<h2 class = "font page-head"> <%= @hat.name %> Chef's Hat </h2>
<% if flash[:notice] %>
  <p><%= flash[:notice] %> </p>
<% end %>
</br>
<h4 class = "plain-font"> Recipes </h4>

<% @recipes.each do |recipe| %>
<table class = "table table-hover table-responsive plain-font">
  <tr>
    <td class = "column"><%= recipe.name %></td>
    <td> <%= link_to 'View', recipe_path(:id => recipe.id), class: "column" %> </td>
    <% if recipe.user_id == current_user.id %>
      <td> <%= link_to 'Edit', edit_recipe_path(:id => recipe.id), class: "column"%> </td>
      <td> <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "column" %> </td>
    <% else %>
      <td class = "column">&nbsp;</td>
      <td class = "column">&nbsp;</td>
            <td class = "column">&nbsp;</td>
      <td class = "column">&nbsp;&nbsp;&nbsp;&nbsp;</td>

    <% end %>
  </tr>
<% end %>
</table>

<%= form_for(@recipes.new) do |f| %>
  <div class="field form-group inline">
    <%= f.label :new_recipe %>
    <%= text_field_tag 'recipe[name]', nil, class: "inline form-control form-custom" %>
    <%= f.hidden_field :hat_id, :value => @hat.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions inline"><%= f.submit class: "btn btn-default grey inline" %></div>
<% end %>



</br>
</br>

<h4 class = "plain-font"> Chefs </h4>
<table class = "table table-hover table-responsive">
<% @memberships.each do |membership| %>
  <tr>
    <% @user = User.find(membership.user_id) %>
    <td class = "column"><%= image_tag @user.image.url(:thumb), class: "profile-pic" %>
    <%= membership.user.username %></td>
    <% if @hat.user_id == current_user.id && membership.user_id != @hat.user_id%>
      <td> <%= link_to 'Delete Chef', membership, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
    <% end %>
  </tr>

<% end %>
</table>

<% if @hat.user_id == current_user.id %>
  <%= form_for(@memberships.new) do |f| %>
    <div class="field inline">
      <%= f.label :add_Chef %>
      <%= text_field_tag 'membership[username]', nil, class: "inline form-control form-custom" %>
      <%= f.hidden_field :hat_id, :value => @hat.id %>
    </div>
    <div class="actions inline"><%= f.submit class: "btn btn-default grey inline" %></div>
  <% end %>
<% end %>




