<h2> <%= @hat.name %> Hat </h2>

<h4> Members </h4>
<% @memberships.each do |membership| %>
  <tr>
  <td><%= membership.user.username %></td>
  </tr>
  </br>
<% end %>

<% if @hat.user_id == current_user.id %>
  <%= form_for(@memberships.new) do |f| %>
    <div class="field">
      <%= f.label :add_member %>
      <%= text_field_tag 'membership[username]' %>
      <%= f.hidden_field :hat_id, :value => @hat.id %>
    </div>
    <div class="actions"><%= f.submit %></div>
  <% end %>
<% end %>

</br>
</br>
<h4> Recipes </h4>
