<!DOCTYPE html>
<html>
<head>
  <title>ChefsHat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<p>
  <% if current_user %>
    Welcome, <%= current_user.username %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Logout', session_path('dummy'), method: :delete %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'My Hats', user_path(session[:user_id]) %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
