<!DOCTYPE html>
<html>
<head>
  <title>ChefsHat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<%= csrf_meta_tag %>
</head>
<body>


<div class="navbar-header font header">
<p class = "navbar-left">
  <% if current_user %>
    <%= image_tag current_user.image.url(:thumb), class: "profile-pic" %>
    &nbsp;
    Welcome, Chef <%= current_user.username %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Logout', session_path('dummy'), method: :delete %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Edit My Profile', edit_user_path(session[:user_id]) %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'My Hats', user_path(session[:user_id]) %>
  <% end %>
  </p>
  </div>
<%= image_tag 'chef_hat.png', class: "right header small-hat" %><strong> <p class = "right font header">  Chef's Hat </p></strong>


</br>

<%= yield %>

</body>
</html>
